doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/vueApp.js')
    script(src='/httpRequestFunctions.js')
    script(src='https://unpkg.com/vue')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
