extends layout

block content
  h1= title
  - var sentence_desc = description.charAt(0).toUpperCase() + description.slice(1) + '.';
  p #{sentence_desc}
  br

  b Location:
  select(id='input-location' name="input-location" value='babcock')
    option(value='babcock') Babcock
    option(value='mountainview') Mountainview
    option(value='westside') Westside
  b Continuous Refresh
  input(id='input-live-refresh' onclick='getData()' type='checkbox', name='input-live-refresh', checked)

  table
      tr
        td [Request #
        td(id='counter') ]

  div(id='dark-sky-data')
    p Sending request to Dark Sky...
  script getData();

  br
  br
  a(href='/') Home